<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.athulawalpola.tastychickenrecipes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".chickenstew.ChickenAndouilleGumbo"/>
        <activity android:name=".chickenstew.GumboStyleChickenCreole"/>
        <activity android:name=".chickenstew.Jambalaya"/>
        <activity android:name=".chickenstew.ChickenPotPieStew"/>
        <activity android:name=".chickenstew.ZydecoStompGumbo"/>
        <activity android:name=".bakedroastedchicken.ChickenFlorentineCasserole"/>
        <activity android:name=".bakedroastedchicken.ArtichokeChicken"/>
        <activity android:name=".bakedroastedchicken.BakedGarlicParmesanChicken"/>
        <activity android:name=".bakedroastedchicken.ChickenEnchiladas"/>
        <activity android:name=".bakedroastedchicken.AnniversaryChicken"/>
        <activity android:name=".chickenstirfry.CaramelChicken"/>
        <activity android:name=".chickenstirfry.GarlicChickenStirFry"/>
        <activity android:name=".chickenstirfry.ChickenStirFry"/>
        <activity android:name=".chickenstirfry.KungPaoChicken"/>
        <activity android:name=".chickenstirfry.BroccoliChickenStirFry"/>
        <activity android:name=".bbqgrilledchicken.KeyWestChicken"/>
        <activity android:name=".bbqgrilledchicken.YummyHoneyChickenKabobs"/>
        <activity android:name=".bbqgrilledchicken.ChickenTikkaMasala"/>
        <activity android:name=".bbqgrilledchicken.HoneyMustardGrilledChicken"/>
        <activity android:name=".bbqgrilledchicken.UnbelievableChicken"/>
        <activity android:name=".bbqgrilledchicken.RosemaryRanchChickenKabobs"/>
        <activity android:name=".wholechicken.RoastChickenRosemary"/>
        <activity android:name=".wholechicken.SpicyRapidRoastChicken"/>
        <activity android:name=".wholechicken.BakedSlowCookerChicken"/>
        <activity android:name=".wholechicken.SimpleWholeRoastedChicken"/>
        <activity android:name=".wholechicken.JuicyRoastedChicken"/>
        <activity android:name=".friedchicken.FriedChickenwithCreamyGravy"/>
        <activity android:name=".friedchicken.CrispyFriedChicken"/>
        <activity android:name=".friedchicken.TripleDippedFriedChicken"/>
        <activity android:name=".friedchicken.OvenFriedChicken"/>
        <activity android:name=".friedchicken.GarlicFriedChicken"/>
        <activity android:name=".friedchicken.ChickenFriedChicken"/>
        <activity android:name=".chickenbreasts.FamousButterChicken"/>
        <activity android:name=".chickenbreasts.BraisedBalsamicChicken"/>
        <activity android:name=".chickenbreasts.SalsaChicken"/>
        <activity android:name=".chickenbreasts.ChickenMarsala"/>
        <activity android:name=".chickenbreasts.GarlicCheddarChicken"/>
        <activity android:name=".chickenbreasts.SpicyGarlicLimeChicken"/>
        <activity android:name=".chickenbreasts.GarlicChicken"/>
        <activity android:name=".chickenlegs.TaterCrispChicken"/>
        <activity android:name=".chickenlegs.SpicyHotChickenLegs"/>
        <activity android:name=".chickenlegs.OvenBBQChickenDrumsticks"/>
        <activity android:name=".chickenlegs.ParmesanChicken"/>
        <activity android:name=".chickenlegs.MediterraneanLemonChicken"/>
        <activity android:name=".chickensalads.ChickenFiestaSalad"/>
        <activity android:name=".chickensalads.HolidayChickenSalad"/>
        <activity android:name=".chickensalads.SesamePastaChickenSalad"/>
        <activity android:name=".chickensalads.SpecialChickenSalad"/>
        <activity android:name=".chickensalads.FruityCurryChickenSalad"/>
        <activity android:name=".turkeyrecipes.HomestyleTurkey"/>
        <activity android:name=".turkeyrecipes.PerfectTurkey"/>
        <activity android:name=".turkeyrecipes.RosemaryRoastedTurkey"/>
        <activity android:name=".turkeyrecipes.SimpleTurkeyChilli"/>
        <activity android:name=".turkeyrecipes.TurkeyQuinoaMeatloaf"/>
        <activity android:name=".turkeyrecipes.DeliciousTurkeyBurgers"/>
        <activity android:name=".souprecipes.SpicyChickenSoup"/>
        <activity android:name=".souprecipes.ChickenTortillaSoup"/>
        <activity android:name=".souprecipes.LemonChickenOrzoSoup"/>
        <activity android:name=".souprecipes.ChickenNoodleSoup"/>
        <activity android:name=".souprecipes.ChickenTacoSoup"/>
        <activity android:name=".recipeshome.TurkeyRecipes"/>
        <activity android:name=".recipeshome.ChickenStewRecipes"/>
        <activity android:name=".recipeshome.BakedRoastedChickenRecipes"/>
        <activity android:name=".recipeshome.ChickenStirFryRecipes"/>
        <activity android:name=".recipeshome.BBQGrilledChickenRecipes"/>
        <activity android:name=".recipeshome.WholeChickenRecipes"/>
        <activity android:name=".recipeshome.FriedChickenRecipes"/>
        <activity android:name=".recipeshome.ChickenBreastsRecipes"/>
        <activity android:name=".recipeshome.ChickenLegsRecipes"/>
        <activity android:name=".recipeshome.ChickenSaladRecipes"/>
        <activity android:name=".recipeshome.ChickenSoupRecipes"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>