<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.athulawalpola.tastychickenrecipes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recipeshome.TurkeyRecipes"></activity>
        <activity android:name=".souprecipes.SpicyChickenSoup" />
        <activity android:name=".souprecipes.ChickenTortillaSoup" />
        <activity android:name=".souprecipes.LemonChickenOrzoSoup" />
        <activity android:name=".souprecipes.ChickenNoodleSoup" />
        <activity android:name=".souprecipes.ChickenTacoSoup" />
        <activity android:name=".recipeshome.ChickenSausageRecipes" />
        <activity android:name=".recipeshome.BakedRoastedChickenRecipes" />
        <activity android:name=".recipeshome.ChickenStirFryRecipes" />
        <activity android:name=".recipeshome.BBQGrilledChickenRecipes" />
        <activity android:name=".recipeshome.WholeChickenRecipes" />
        <activity android:name=".recipeshome.FriedChickenRecipes" />
        <activity android:name=".recipeshome.ChickenBreastsRecipes" />
        <activity android:name=".recipeshome.ChickenLegsRecipes" />
        <activity android:name=".recipeshome.ChickenSaladRecipes" />
        <activity android:name=".recipeshome.ChickenSoupRecipes" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>